body{
    background-color: white;
}

.title{
	font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
	text-align: center;
}
.titlep{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
	text-align: center;
    margin-top: 80px;
}
.texto{
	align-items: center;
    background-image: linear-gradient(to right, #09e0aa, #057ddf);
    width: 700px;
    height: 190px;
    margin-left: 300px;
}
